.block {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.block-url form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-url  input {
    width: 350px;
    height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.block-url button {
    background-color: darkorange;
    border: none;
    height: 40px;
    width: 100px;
    font-size: 16px;
}

.block-url .url {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.url a {
    color: darkorange;
}